{% extends 'second_task/third_task/fourth_task/platform.html' %}

{% block title %}{{ pagename }}{% endblock %}

{% block content %}
    <div class="features">
        <h2>{{ pagename }}</h2>
        <ul>
            <li>Atomic Heart<button>Купить</button></li>
            <li>Cyberpunk 2077<button>Купить</button></li>
            <li>PayDay 2<button>Купить</button></li>
        </ul>
        <p>Извините, ваша корзина пуста!</p>
        <button class="btn btn-danger">Вернуться обратно в магазин!</button>
    </div>
{% endblock %}