{% extends 'second_task/third_task/platform.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Игры:</h1>
        <p>Существует стереотипное представление о геймерах как о затворниках, которые сутками приклеены к своим креслам,
            страдают кучей комплексов, зажаты и замкнуты, неспособны налаживать контакты в реальном мире
            — то есть испытывают катастрофические проблемы с социализацией. На самом же деле, уверяют многие психологи,
            компьютерные игры помогают многим людям преодолеть социальные барьеры в общении с незнакомцами,
            пусть даже и виртуальном.</p>

        <ul>
            <li>Atomic Heart</li>
            <li>Cyberpunk 2077</li>
            <li>PayDay 2</li>
        </ul>
        <button class="btn btn-warning">Вернуться обратно!</button>
    </div>
{% endblock %}






