{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'task3/css/task3.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <aside>
        <img src="{% static 'task3/img/images.jpg' %}" alt="images">
        <span class="images">Gaming Platform</span>
        <h3>Новигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="bi bi-house-door"></i> Главная </li></a>
            <a href="{% url 'games' %}"><li><i class="bi bi-shop"></i> Магазин </li></a>
            <a href="{% url 'cart' %}"><li><i class="bi bi-basket"></i> Карзина </li></a>
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>